#top-header-container {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    height:100px;
    border-bottom: 1px ridge blue;
}

#main-container {
    margin-top:100px;
    width:100%; 
    margin-top:100px;
}

#right-side-panel {
    margin-left:85%;
    width:12%;
    position:relative;
}

#published-article-list {
    border-left-style:ridge;
    border-left-color:blue;
    border-left-width:1px;
    position:absolute;
    top:0;
}

#blog-content{
    float:left;
    width:85%;
    padding: 10px 360px 10px 10px;
    text-align: center;
    overflow-y: scroll;
}

.homepage-blogContent-posts {
    text-decoration:none;
    color:#000000;
}
#blogContent-thumbnail {
    width:200px;
    height:auto;
}

#blogContent-thumbnail:hover {
    box-shadow: 0 0 0 1px #327ae5;
    /*rgba(0, 0, 0, 0.2);*/
    transition: all 200ms ease-out;
        transition-property: all;
            transition-duration: 200ms;
                transition-timing-function: ease-out;
                    transition-delay: initial;
}

#home-first-p-teaser {
    width:500px;
    margin:auto;
}

#title {
    color: #333333;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
    font-size: 50px;
}

#site-navigation-tabs {
    position:absolute;
    margin-bottom:0;
    float:right;
    margin-right:20px;
}

.tab {
    font-size:20px;
    margin:4px;
    display:inline-block;
    text-decoration:none;
}

.tab:hover {
    background-color:#327ae5;
    transition: all 200ms ease-out;
        transition-property: all;
            transition-duration: 200ms;
                transition-timing-function: ease-out;
                    transition-delay: initial;
}

#article-title {
  margin-bottom:0px;
  margin-left:5px;
  font-size:17px;
}

#date {
    color:#36454f;
    font-size:12px;
    margin-left:15px;
}

.main_container {
     width:150px;
     overflow: hidden; /* will contain if #first is longer than #second */
}
.lefty-social {
     width:75px;
     float:left; /* add this */
}
.righty-social {
     overflow: hidden; /* if you don't want #second to wrap below #first */
 }

i {
  color:#36454f;
}

.contact {
    margin-left:15px;
}

#about-contact-container {
    position:absolute;
    top:0px;
}
 
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 40px; /* bottom = footer height */
    padding: 25px;
}

#footer {
    background-color: #327ae5;
    position: absolute;
    left: 0;
    bottom: -50px;
    height: 40px;
    width: 100%;
    overflow:hidden;
}

#footer-links{
    margin-top:5px;
}
