
{% extends "home.html" %}

{% block blogContent %}

  <title>Build your own workbench</title>

  <meta name='description' content='build your own workbench, garage workbench, work bench, bench frame, weld a bench frame, butcher block table top, steel frame, edge grain'>

  <h1> Build a garage workbench </h1>
  <h3> Steel frame butcher block top </h3>

  <h7> Determine which materials the frame and table top will be made out of. </h7>
  
  <img src='/static/img/workbench/workBenchFrame.png' title='workbench steel frame'/>

  <p> I recently purchased a small Miller Mig welder, which gave me the option to weld
  small thicknesses of steel for household and automotive projects.  My Miller Automatic 141
  is an easy to use beginner welder, and can weld steel up to thicknesses of about 1/8.  
  I chose steel tubing, both square and rectangular, for the frame of the work bench.
  Its just a common mild steel and can be picked up at a local distributor of metals.
  I recommend shopping at one of the local distributors, as they can offer really great pricing.
  The distributor in my area of Texas, usually offers lengths of 12', but can cut their stock
  material to your needs, if you should choose for a small fee.  I usually just like to drag
  a trailer over and pick up the entire lenght of material, as the leftovers have provided useful
  in other projects around the home.</p>

  <img src='/static/img/workbench/workBenchWood.png' title='work bench wood'>

  <h7>Now for the table top.</h7>  <p>I did not visit a lumberyard in picking out the material for this tabletop.
  I had envisioned making the butcher block top out of maple, but figured it would be expensive to do so.
  I did craigslist searches for 'hardwood', and ended up settling on Poplar, just because some guy was
  wanting to git rid of his extra stock in his garage.  The reason you want hardwood for your table top
  is that, if used in a garage or workshop, its going to take a beating!  I bought most of the table top 
  stock Poplar wood on craigslist for about $70, but think I ended up spending maybe $30 more at Home Depot
  for a few more boards.</p>

  <img src='/static/img/workbench/workBenchTableSaw.png' title='table saw'>

  <h7> Table saw, pipe clamps, and wood glue </h7>

  <p>When making a butcher block table top, getting pipe clamps is essentially nessary to actually clamp all of the 
  end-grain wood together.  I bought mine on amazon, and picked up some black pipe to fit at the hardware store.

  I used a table saw to make small strips out of the board.  I made mine a little over two and a quarter (2 1/4 ") 
  in width, so that when stood on end my table top would be this thickness.</p>

  <img src='/static/img/workbench/workBenchLayout.png' title='butcher block poplar table'/>

  <h7> Its custom </h7>

  <p> One of the really amazing things about making your own custom home wares, is that well, they are custom.  I'm
  guessing I will have the work bench forever, so I thought it important to really give the table top a good thickness.
  After all, over the years it will get resanded to restore the top finish etc.  For the same or less the price
  I end up with a thicker table than buying through a manufacturer of work benches.  Also my table fits me 
  as it stands 40" tall which accomodates my 6'5" body.  If you've never thought of it before, just ask a tall person 
  what they think of standard countertop heights in homes, shower head installations, airplane seats, motorcycles, etc! </p>

  <img src='/static/img/workbench/workBenchPoplar.png' title='butcher block table top'/>

  <h7> and what I would have done differently </h7>

  <p> After the strips of wood were cut, I laid them on their edge as strips running perpendicular to the pipes themselves. 
   Now as this was the first butcher block table I had created, I would have done something differently during this step.
   Having this many strips of wood ( between 30 and 40 if I recall correct ) and wood glue in between the strips of wood, 
   when it comes time to tighten the clamps, there is a lot of shifting and compression taking place to ensure a good
   tight table top.  I probably didn't notice until after the glue dried, which takes 24 - 48 hours, that the table
   became bowed like an upside-down 'U' over the pipe clamps.  The next time I make a butcher block table top, having 
   a lot of clamps at my disposal will help to counter act some of these</p>

   <img src='/static/img/workbench/workBenchEdge.png' title='cutting table edge'/>

   <p> Finish off the table by cutting the edge off and giving it a uniform rectangular look.  I thought I might be able to 
   get away with sanding off with an orbital sander, but decided to buy a cheap belt sander and finish the table top that way.
   I chose to finish off the table with a Linseed oil applied to just give the wood table top a little protection.  Also by not
   finishing with a sealer like minwax or polyurethane, I will be able to sand down the table top in the future.  Its plenty
   thick to get refinished with the beltsander.  Your table will pickup little knicks, and scars, and paint, and spark burnishes, and
   whatever else you're going to use it for.

   <img src='/static/img/workbench/workBenchWine.png' title='steel frame butcher block table top garage workbench/'>

   <p>As an afterthought, the joining of the table to the steel frame is worth mentioning.  You can really get anykind of large tapered
      steel screw ( like a wood screw, drywall whatever ), make sure that it will not poke through the top of the table and attach steel to
      the underside of the table.  I welded kind of like tabs onto the top of the inside of the frame and predrilled holes to accomodate hex headed
      bolts that were tapered and long enough to secure the table, but short enough not to affect the table top by poking through.  I believe I put
      four, one for each side of the table top, just to keep it in place.  It seems that just gravity alone keeps the butcher block table top
      pretty secure on the metal frame.  The attachment of wood to metal is more about moving the table or bumping it where the table top could
      get off center of the frame.</p>

{% endblock %}
