{% extends "home.html" %}

{% block blogContent %}

<title> Donald Trump and building a wall </title>

<meta name="description" content="Donald Trump building a wall, immigration, 2016 presidential election,
2016 presidential race, Donald J. Trump build a wall on Unites States and Mexican border, Mexico"/>

<h1> Donald Trump and building a wall </h1>

<img src="/static/img/trump/Maginot_Line_ln-en_svg.svg.png" alt="map of maginot line"/>

<p class="first"> Donald Trump has reiterated three statements over the past few months during his campaign and I'm
paraphrasing...
<br>
"We're going to build a wall, and get Mexico to pay for it"
<br>
"NAFTA is the worst trade deal in history, and I'm going to renegotiate it"
<br>
"I'm not one of these people who is going to give away all my plan"</p>
<br>
<img src="/static/img/trump/trump-red-hat.png" alt="Donald Trump, Donald J. Trump, 2016 Make America Great Again"/>

<p> The last statement usually being evoked when asked about his plans for ISIS, but often a response to a wide range
of questions.  I've heard this referred to the idea that Trump is more of a general, broad idea person rather
than getting hung up on the minutia and details of plans.</p>

<p>What I've not heard coming from the main stream media, and what I think, is that in the long shot possibility
of Trump becoming the president, one thing he would do would be to renegotiate NAFTA and include the payment
of the United States/Mexican wall as one of the necessities during renegotiations</p> 

<p>  Trump visited Mexico sometime last month to talk to the president of Mexico and speak on the nature
of relations between both countries.  The concept of the wall was never brought up, amazingly, and when
asked afterwards about paying for the wall on the U.S. / Mexican border, senior members of the goverment in Mexico
subtly and passively said they were not going to pay for the wall. </p>

<p> I believe Trump is smart enough to know that if someone, like Mexico, doesn't want to pay for something, like a 
wall on the Mexican border, of which Mexico really has no incentive, and not much to gain from undertaking such
a huge and costly project, then there must be some way to entice them to pay for it</p>

<p>I think a wall on the border of the United States and Mexico would certainly deter people entering, but it raises a
lot of questions.  My first question would be strictly on engineering and cost.  I've been to the Three Gorges Dam, which 
took a phenomenal tonnage of concrete to build.  As there has been no formal plans on what Trump is saying, one wonders
is this wall going to be built of concrete? cinder blocks piled high? Even if the wall is planned of steel posts and
steel mesh, there still needs some concrete footings to secure the wall.  I've heard that the border between the two
states is some 2000 miles long...</p>

<img src="/static/img/trump/three-gorges.jpg" alt="three gorges dam concrete usage compared to Trump's U.S. / Mexican Border"/>

<p> How tall will the wall be? 20 ft? Can some extension ladders from Home Depot not be raised to about twenty feet? 
Would 30 ft. be a better deterent? Could people not build portable stairs or join two ladders together, lean it against
the top of the wall and jump with some cheap type of parachute to brace their fall to the other side?</p>

<p> I saw a statistic that the border patrol costs 13 billion dollars annually in our (the U.S.'s) yearly budget.
Given what the border patrol does, wouldn't there still need to be a border patrol for those that attempt to breach the wall?
Or would the border patrol morph into a wall maintenance division.  You have to imagine that things like wind, erosion,
or possibly people with explosives ! would necessitate that the wall be maintained as a structure like any other structure
that gets built.</p>

<p>I've seen some footage of the tunnel networks created by El Chapo Guzman, or I should say miners hired by Guzman
to build tunnels under the current border of the U.S. and it begs the question, will the Donald Trump's wall be built
down into the ground in addition to up ?</p>

<img src="/static/img/trump/border-patrol.jpg" alt="Illegal border crossing, border patrol apprehension"/>

<p> I have seen some documetaries on the journies that people in Central America take to cross the U.S. border illegally,
ostensibly, in search of jobs or a new way of life in America.  The documentary I saw showed people paying relative large
sums of money, thousands, which is a lot to save up in any country, let alone in Mexico's economy to guides that would
usher their journey through Central American countries, Mexico, and eventually across the U.S border. The method of
travel I saw was a combination of riding railcars ( not passenger with ticket but on the top of freight cars rather )
riding in the back of box trucks and travelling on foot which looked pretty treacherous.  Keep in mind that not all those taking
the journey looked to be in their 20's or 30's and in olympic shape, let alone prepared for a multi-day hike through
anything that nature would throw at them.</p>

<p> So if this is the journey that people are taking to enter into the United States, would they balk at having to 
climb a ladder to go over a 30 ft. wall? or crawl the last mile under the border in a cramped tunnel that could
cave in itself?</p>

<p> We have some recent walls that help understand the wall in a historical context. During World War II the maginot line
was the border between France and Germany that ran mostly underground as a tunnel system.  After World War I and leading
into the second world war, the line was heavily militarized to stem any potential attack form Hitler.  The German military
bypassed the wall completely, entering France in the Ardennes, which was a hilly area between Switzerland and France.  Essentially,
the Germans strategically entered in an area where there was no fortification, and the terrain thought unpassable by a modern army.
</p>

<img src="/static/img/trump/Atlantic-Wall.jpg" alt="Atlantic Wall map"/>

<p>
The Germans constructed an Atlantic wall during the height of its reign in Europe, mainly to keep out the allies (Canada, the United States, and Great Britain).
Interestingly this 'wall' ( gun emplacements, beach obstacles, land mines ) was under construction for years and was also, like the 
border between the United States and Mexico, thousands of miles long. (It stretched into Norway). Looking back at history,
the amount of distance between the gun emplacements and fortifications, seriously concerned Rommel, who took over the project and urged
Hitler to focus more attention on strengthening it.

Its interesting to see footage of how vast an amount of territory the north shore of Europe is and humans attempts at building
a wall on the natural coastline, even with the help of the land/sea barrier.  I think the circumstances are much different
when relating to the proposed Trump border between the United States and Mexico.  I've been wrong before, but I think the building
of the wall has its own challenge, from a feasibility standpoint, even before getting into the politics of the situation.
</p>

<p> The Berlin Wall, The Great Wall of China, and the demilitarized zone between South and North Korea also come to mind as
historical walls to make comparisons with.</p>

    <!-- start disqus import -->
<div id="disqus_thread"></div>
<script>
    /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
   /* 
           var disqus_config = function () {
                   this.page.url = '/2016/09/28/Make/a/custom/fumehood/';  // Replace PAGE_URL with your page's canonical URL variable
                           this.page.identifier = '176395'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                               };
     */                              
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
             var d = document, s = d.createElement('script');
                     
                     s.src = '//jarvislife.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
                             
                             s.setAttribute('data-timestamp', +new Date());
                                     (d.head || d.body).appendChild(s);
                                         })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


<!-- end disqus -->

{% endblock %}
