{% extends "home.html" %}

{% block blogContent %}

<title>Gate Part Deux </title>

<meta name="description" content="artistic metal gates"/>

<h1>Gate Update </h1>

<img src="/static/img/eastGate/gate-far-best.png" alt="Metal artistic gate"/>

<h2>Function vs. Form </h2>

<p class="first"> Ah yes, the gate is finally functional.  Added a latch and some Stainless Steel
drawer pulls I had lying around the garage as leftovers.  Also added the gate pin that goes
into the grass not sure what its called.</p>

<img src="/static/img/eastGate/dragonfly-close.png" alt="metal 'neon skimmer' dragonfly art"/>

<p>I got the idea of the dragon fly from one that landed on a planter in September.  It's called a 'Neon Skimmer' and apparently common in the South/Southwest and can be spotted
in Texas, Arizona, California.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/YsQpEVP5o48" frameborder="0" allowfullscreen></iframe>

<img src="/static/img/eastGate/dragonfly-from-left.png" alt="Stainless steel gate"/>
 
<h2> Next steps...</h2>

<p> I ran out of some consumables, - more acrylic paint, more .030 309L wire for welding the stainless-stainless or stainless-mild steel junctions.
I had to buy more welding gas this last weekend. Its expensive. $10 here and $20 there really adds up.
* Welding Gas
* Welding Wire
* New Gloves ( they wear out over time )
* Metal cut-off discs 
* Sanding discs
</p>

    <!-- start disqus import -->
<div id="disqus_thread"></div>
<script>
    /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
   /* 
           var disqus_config = function () {
                   this.page.url = '/2016/09/28/Make/a/custom/fumehood/';  // Replace PAGE_URL with your page's canonical URL variable
                           this.page.identifier = '176395'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                               };
     */                              
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
             var d = document, s = d.createElement('script');
                     
                     s.src = '//jarvislife.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
                             
                             s.setAttribute('data-timestamp', +new Date());
                                     (d.head || d.body).appendChild(s);
                                         })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!-- end disqus -->

{% endblock %}
