{% extends "home.html" %}

{% block blogContent %}

<title> Make a custom fumehood for your oven range </title>

<meta name="description" content="custom fumehood, steel fumehood, decorative fumehood for oven range, blower for range, running ductwork, drilling through stone"

<h1> Make your own fumehood for an oven range </h1>

<img src="/static/img/fumehood/range-hood-finished.png" alt="custom range hood"/>

<h7> Buy a blower, route the path for you ductwork</h7>

<p>First, a blower is a type of fan motor, but has a slightly different construct to that of a tradional fan like those most of us are used to.
Instead of having blades ( think ceiling fan, oscillating portable fan, non duct work oven ranges ), a blower motor has a rotary component
that forces air through it as it spins.  Blower motors are typically higher voltage ( HVAC systems in the USA are often 208 Volt and usually have blower motors, despite
being labelled 'fan' on most wall controllers) have higher CFM (cubic feet per minute - a rating of airflow) and, well, usually cost more money.  Through online shopping
its possible to buy a blower motor (sometimes under the term 'blower insert' or 'range hood insert') inside of some kind of housing... I bought a blower motor for about $230 on Amazon
which advertised 350 max CFM.  It shipped to my doorstep and is housed inside some fabricated sheet metal, which is that grey powder coated kind of finish, often
found for electrical or HVAC products. Some are direct wired, some have plugs, mine had a plug.  The blower motor I found was 110V, which was important because the
previous non-ducted fumehood fan was utilizing a plug directly behind the old hood.  A higher voltage blower would obviously require you to run the lines and probably add a new
breaker to service the 208 VAC necessary to operate your new blower, if you choose to go with that kind of blower motor.</p>

<img src="/static/img/fumehood/ductwork.png" alt="range hood ducting, fumehood duct work"/>

<p> If you look at a typical home in the U.S., most pipes outlet to the roof of the home, like vent pipes for plumbing.  Choosing a route for the ductwork of your blower motor
is challenging.  It really requires some research, planning, and educated guessing to find out what is behind your walls.  Any obstruction in the form of existing electrical, framing, HVAC ducting,
or plumbing will pose problematic to running duct work.  I think it would be common for people to utilize the space in between your 2nd floor (or 3rd if that applies to you) and your first floor.  
Headers are often times 12" and will accomodate ductwork. Its probaby where most of your HVAC exists currently in your living space along with the basement or attic.  Some interesting considerations
to take into account will be that the size of your blower motor will be proportional to the length of ductwork that is required to exit the structure.  For example, it would be a bad idea
to have a wesk motor attempting to push all of the air with smoking cooking oils, etc. 25 feet up a pipe out of the roof to actually exit the home.  It really just depends
on the space you are working with.  Often, a kitchen has an oven/range that backs up to an exterior wall.  This really makes the process easy, as drilling through the exterior of the building
becomes quite easy and the running of ductwork is minimal</p>

<img src="/static/img/fumehood/vent.png" alt="drilling through the exterior of building, running ductwork, drilling through stone"/>

<p> My ductwork solution turned out to be of medium difficulty.  My oven range backs to an internal wall (actually a utility room) in my house.  I ran ductwork
through this wall and had originally planned on making it up to the subfloor and making a right turn, with a direct 8 - 10 foot run directly to the exterior of the house
between the first and second floor.  The photos show the reality of the finished project.  I did my best guesstimating as to how the joists of the second floor were running with
the help of a stud finder.  I punched a few holes in the drywall to look around about the feasability of running ductwork.  It initially looked possible, then , d'oh! I ran into
other ductwork from the HVAC system. I suspected this before punching into the drywall because a vent can be seen for the HVAC system so close to my area of operation.  Be careful
when exploring your subfloor not to cut through electrical wiring or HVAC parts.  I suppose it would have been possible to use a large diameter hole saw and cross through
a floor joist, I was just nervous about weakening the joists.  I'm not sure if this is recommended or not. Obviously the numberous HVAC ductwork passes horizontally through
the joists of the subfloor above.  My solution was to patch the drywall and since this is a utility room, just leave the duct exposed.  As noted previously its important
to avoid having a long stretch of ductwork, but also important is to limit the turns and angles of your ductwork.  I have one 90° bend in my ductwork, which is really inevitable
for my project.  I don't have a degree in aerodynamics, but these two simple rules are kind of easy to infer when you have a blower motor trying to push air through ducting
( at least I think ! ).

<h7> Drilling through the exterior of a building </h7>

<p>  Drilling through a building really depends on what your building is made of.  Some people have vinyl siding, others wood veneer siding.  I happen to be one of the lucky (ha!) few
that have brick siding on my house.  And its not just brick like those red ACME kind, its more like sandstone/limestone/shale.  Its the kind that is thick and heavy and
really seems to be more in the camp of a geologist to classify than a home remodeler like Bob Vila. Its common construct for suburbs in my area of Austin, Texas. I knew this project would
     be an extensive one but one of the most difficult parts of the project was really just being without a powerful enough machine to get through the stone walls of my home.
     I wound up using a 6" hole saw, to stay consistent with the outlet on the blower motor and the ductwork I was running, and also masonry bits ( 12" long about 1/2" in diameter )
     with a hammer drill.  I probably went through 20 or 30 battery cycles to accomplish this, but after many nights of just standing on a ladder for thirty minutes, after getting home
     from work, holding a drill to the side of my house, eating stone dust ( just kidding, I always wear ear protection, a particulate mask, a hat, and safety glasses) and feeling
     my arms get numb from holding the drill, I finally had a nearly perfect round hole in the brick veneer of my home.  If you are drilling through stone or brick in this fashion
     it can be done, or you can find more powerful machinery to accomplish the task sooner. Just keep in mind that you don't really want any collateral damage.  If you need
     a 6" circular diameter hole, I would really recommend going slow and just having that after all the drilling.  I've read that it can weaken the structural integrity of the
     brick wall otherwise, and if you really want to see, you can probably simulate that experiment with a game of Jenga.  Its not to worry though because putting the vent pipe
     into that hole will help to stabilize it some. </p>

    <!-- start disqus import -->
<div id="disqus_thread"></div>
<script>
    /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
   /* 
           var disqus_config = function () {
                   this.page.url = '/2016/09/28/Make/a/custom/fumehood/';  // Replace PAGE_URL with your page's canonical URL variable
                           this.page.identifier = '176395'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                               };
     */                              
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
             var d = document, s = d.createElement('script');
                     
                     s.src = '//jarvislife.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
                             
                             s.setAttribute('data-timestamp', +new Date());
                                     (d.head || d.body).appendChild(s);
                                         })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


<!-- end disqus -->

{% endblock %}
