{% extends "home.html" %}

{% block blogContent %}

<title>Why I Voted for Gary Johnson  </title>

<meta name="description" content="Libertarian platform candidate Gary Johnson in the 2016 Presidential Election"/>

<h1>Policy </h1>

<p class="first" >Really my choice towards Gary was the platform that they adopted and put forward.  
   Balance the Budget
   No foreign wars ( Do not get involved in Regime change as Gary puts it)


   In my book these two are huge and about sway my vote right from the start.

<img src="/static/img/Gary/2016_election.png" alt="2016 Presidential election"/>

<h2> the messengers</h2>

<p > Gary Johnson and Bill Weld were both two term governers, Republicans in heavy Democrat states.
Gary Johnson purportedly had a multi-million dollar business that he had started as one person. and Bill Weld had
worked as the head of the US DOJ criminal division</p>

<p> Without having to name any other candidates they held a good track record as Governers and in their lives
prior to governership and this made them predictable.

For example, Gary Johnson stated he vetoed more legislation than all previous governers of New Mexico had vetoed, combined
</p>

<h2> Fill my eyes, with that tunnel vision </h2>

<p> I believe in small goverment and I think its important for administrators in the goverment to not get tunnel vision.  In my opinion
the recent development in Syria is an example.  To jump off topic for a moment, here is a geopolitical situation that the US is involved
in, which is mind baffling after having the hindsight of Iraq and Afghanistan.  As Gary pointed out, trying to see the interactions
between the number of players is complicated.  You can google and find a list of countries, Iran, Saudi Arabia, the USA, Russia. A recent LA times 
article lists 8.  This says nothing of the Assad regime and the myriad number of rebels like the Free Syrian Army or Al Nusra.  Also ISIS.
A few weeks ago I noticed that some of the airstike efforts between the USA and Russia, it looked like militarily that there was 
a detiorating relationship between the US and Russia trying to coordinate some of these attacks.  Well nevermind the fact that 
the two nations see the Syrian situation completely differently, its harming our US-Russia relations.  This is the kind of tunnel vision
that I think the state department involves itself with.  Everything becomes of utmost critical importance, this second, and something
needs to be done immediately, whether that be an answer or a bomb, or a question to be asked of the other side.  I was noticing this
in the media coverage of the 2016 Presidential campaigns (let's be fair here, of Hillary Clinton and Trump).  Journalists at say, the Huffington Post,
or BuzzFeed or CNN or the Wall Street Journal get tasked with covering the elections. And since this is their job, to show up from 8 to 5
and write articles, it turns out just fueling fire to the 'he said' or 'she said' nature of triviality of the election campaigns.  I'd think
if there were journalists covering the campaigns who worked from home or went to visit rallies and felt no pressure, to only write when compelled
we'd have a much more meaningful coverage, albeit sparser in nature.  So to bring this back around, the fact that Gary Johnson vetoed so much legislation as did Bill Weld
when they were governers it means a more simple goverment.  One that probably consumes less Revenue and also is more simple, from a legal standpoint.
</p>

<img src="/static/img/Gary/g-sign.jpg" alt="Gary Johnson protestor at rally"/>

<h1> Libertarian Party </h1>
<p>I've been a Libertarian probably since first reading some of the ideals of what Libertarianism really is when i was in my mid-twenties.
This is the first year I've given that Libertarian candidate a look, oddly, despite knowning, generally what this party/platform/philosophy
is for 15 years.  I think its probably that the undesirability of both major party candidates made me do some more homework to find
someone to actually vote for, rather than against, and I think I'll probably vote Libertarian in the future as I had a good experience with it.

I was supportive of Rand Paul and still am despite his not gaining any substantive momentum in the primaries.

I kind of reject the notion that Libertarians are anarchists, as I've heard this commentry usually used, in passing, if I tell someone I believe
in libertarianism or that I'm voting for Johnson/Weld in the election.  To me its more of a laissaz-faire role of the government in all
aspects of our lives, kind of some weird extension of the small government ideals of Republicanism taken to the hilt, without any of the
weird, creepy religiousity or wacko Tea Party element.

What really resonated with me about the Johnson/Weld platform and message this year was that they framed the campaign as 'Fiscally conservative,
Socially inclusive'  or as Bill Weld would say, 'Get the goverment out of my pocket book and the goverment out of my bedroom' as there is support
for gay marriage or probably any other kind of marriage arrangement that could be devised as the goverment really has no role in issuing any kind
of sanctity or denunciation of such.  This topic could probably go in a whole new post here, but I've always wondered why the state has anything
to do with this institution, i.e. marriage.  Just like I don't understand why 'In God We Trust' is printed on our national currency or that
the Pledge of Allegiance is recited in elementary school ( Is it still now?  I know I had to at least in some of the grades of elementary school)

But I think its interesting how the platform is really an extension of the liberal ideals in some ways, lessening the penalties on drug crimes,
calling for the legalization of certain substance like marijuana, having the woman involved with the abortion to be the ultimate decider, etc.

To the people that say libertarians are anarchists, I think its really like equating the people who boarded the wooden boats called the Mayflower
because they were tired of the institutions in Europe that encroached on their freedoms and ways of living life.

</p>

<img src="/static/img/Gary/i-voted.jpg" alt="Texas I Voted"/>
 

    <!-- start disqus import -->
<div id="disqus_thread"></div>
<script>
    /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
   /* 
           var disqus_config = function () {
                   this.page.url = '/2016/09/28/Make/a/custom/fumehood/';  // Replace PAGE_URL with your page's canonical URL variable
                           this.page.identifier = '176395'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                               };
     */                              
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
             var d = document, s = d.createElement('script');
                     
                     s.src = '//jarvislife.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
                             
                             s.setAttribute('data-timestamp', +new Date());
                                     (d.head || d.body).appendChild(s);
                                         })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!-- end disqus -->

{% endblock %}
