<html>

{% extends "home.html" %}

{% block blogContent %}


<title>Build a steel framed gate</title>

<meta description="steel framed gate, pedestrian gate, wood pannel gate, gate ideas, build a gate, wood panneling gate, steel gate ideas, steel gate"/>

<h1> Building a steel gate </h1>
<h7> Get Inspired </h7>


<p> The decision to replace my wooden gates with steel was an easy one.  The house ( and gates/fencing) we purchased was 16 years old
    and after this amount of time, wood really starts to deteriorate.  I decided to start with the pedestrian single door gate first, and
    use my hindsight experience when building the double door gate on the other side of the house.  Like most DIY projects, searching through
    google images and pinterest is a great way to get inspired and to get ideas of how other people have approached trying to build something
    like this.</p>

    <img src='/static/img/gate/finishedGate.png' alt="steel framed gate"/>

    <h7> Measure twice, cut once...</h7>

    <p> I was taught when I was younger to measure twice, cut once. One of the most important things to do when starting this project, is to 
        have at least a rough sketch in your mind or on a scratchpad of some of the measurements of your gate.  I looked at the standard width
        of doors, measured the wood gate width and height, measured the height of the wood gate posts to get an idea of the steel frame and posts
        I would need.  I believe the width turned out to be something between 30 and 40 inches, the height, about 5 feet with a few inches of clearance
        to accomadate for any kind of irregularities in the soil below or to accomodate pavers, which I later installed - thankful that I had
        plenty of clearance below the bottom of the gate.  Regarding the steel posts I read that its important when selecting fence posts that nearly
        a third of the post length be below the ground.  This cantilever effect stabilizes the pole in the ground.  More on the steel pole selection later...
        </p>

    <img src='/static/img/gate/gateFrame.png' alt="steel frame gate with wood paneling"/>

    <h7> Attaching wood to steel <h7>

    <p> I used a router for tongue and groove consruct on the western red cedar wood paneling.  Attaching wood to metal varies by application.  In the case of
        paneling for a gate, I used carriage bolts.  The carriage bolt with the square end sink easily into a wood like western red cedar, after pre-drilling
        a hole to size. Simply thread the bolt through and tap the square in with a hammer.  Depending on the wood being used, there is usually no need to 
        break out the carving chisels and square the pre-drilled hole.  Just a few taps with a hammer and the steel square of the carriage bolt should start
        to sink into the wood.  For this gate the bolt was inserted into pre-drilled holes in 1 x 6 western red cedar and continues to thread through square steel tubing at 1"
        behind the paneling.  A carriage bolt is engineered to have the hex nut tightened down without the bolt starting to spin.  Thus the square part
        of steel behind the top of the head of the bolt.</p>

    <img src='/static/img/gate/gateAlmostFinished.png' alt="attaching steel to wood, carriage bolts"/>

    <h7> Gate Post Hole </h7>

    <img src='/static/img/gate/gatePostHole.png' alt="replace gate post, remove decayed fence post"/>

    <p>  Most gate and fencing posts are either wood or steel and held upright by a footing of concrete in the earth below the post.
         If you find yourself in a position of trying to remove a rotting wood post, there is really no other good option except to dig
         up the previous concrete footing. You can use a small sledge hammer ( I used a 3-4 lb. handheld hammer in tandem with a cold chisel, a larger
         10 lb + hammer would have been more effective, but I did not have one handy ) to break apart the concrete footing.  I tried a variety
         of things first to remove the rotting post wood stuck in the concrete footing like burning with charcoal and drilling with spade bits as I
         had planned on taking the lazy approach and using the previous footing for my new steel posts.  This turned out to be more work than 
         just digging up/breaking the old footings.  When I replace the double gate on the other side of my house with steel hardware, I know this time
         to just attack it with a shovel and a 12 lb sledge hammer !!  It really is less work that way. </p>

    <h7> Gate Post selection</h7>

    <img src='/static/img/gate/gatePostWeld.png' alt='welding a gate post'/>

    <p>  As mentioned in the start of this article, measuring the dimensions of both gate and post are very important.  My gate is 1.5" square tubing
    with some 1" tubing for horizontal bracing and attaching wood paneling.  The steel + wood gate ended up very heavy but the 7 foot long, 3.5", 3/8 steel tubing I used
    I bought for posts easily holds the gate.  The steel posts are 5 ft. exposed above ground and 2 ft. below in new concrete footings.  The door handle of the
    gate is purchased on Amazon, but the steel box on the gate I made is all custom.  Its very important before setting your post ( which should be plum and level )
    to account for clearance of the gate latch.  A trick that helped me was to set the post that the door hangs on first, before setting the other post.
    In fact, It can really help to locate the proper place to dig to set the footings of the post with the strike plate on it.</p>

    <img src='/static/img/gate/bendSteel.jpg' alt='bending steel, bend steel'/>

    <p> I had some left over 1/4 stainless steel bar in my garage from a previous project and thought it nice to put an arch on top of my gate door.  I believe
    this is usually done with metal roller, but these pieces of equipment can get very expensive and I don't really have the room for it in my garage at the moment.
    I don't really recommend bending steel in the way that I did, but it is possible to get steel to bend around a form if you work with it.  I made a form
    out of mdf board, essentially the underside of the arch i created.  It took more muscle than I really want to put into a project in the future, so
    really, decide for yourself if you want to tackle bending steel this way. I tried getting leverage in a vareity of spots on the driveway, before
    I settled in on using my workbench and the negative sides of the mdf and pipe clamps to just use leverage to make the steel bend. Amazingly, it will
    keep its shape.  It got me curious about blacksmithing and heating metal to alter its shape.  In a future shop I'm interested in getting an anvil
    and a fire kiln, for working with pottery, glass blowing, wrought iron, etc. My last piece of advice would be, if trying to bend steel, pro tools like
    rollers and benders work best, but if you have to bend it by hand, a series of clamps and forms will be a lot more achievable than just pure muscle power.</p> 

    <img src='/static/img/gate/moonGate.png' alt='metal patina' />

    <p> I may make a separate article on finishes for metal works, as its proven consistently challenging for my work.  I'll talk about the 
        decorative finish I had in mind for the gate for now.  The gate top is a thin gauge of mild steel sheet, let's just say 20 gauge.  Its
        quite tricky to weld this thin of a sheet to an arch of stainless ! I need to learn more about welding, but I was able to get it to stick
        with. I probably should have switched to a roll of stainless for the consumable mig wire, but i digress... This metal has different color
        patinas applied to it.  I found an online company selling differing colors of patina and bought some.  I'm a little skeptical about the
        actual patina content in these spray bottles I received. It seems more like paint than patina. It seems like 85% paint and 15% patina. The difference
        being that a patina should chemically alter the metal.  Whether they actually sent me paint or 'patina' doesn't matter too much as I was
        happy with the result.  The company recommended heating the metal first, so i used a propane can and a blow torch to expand the metal and
        then just spray their product on in the areas where I wanted differing colors.  The spray adheres pretty good to the metal and I think maybe its
        meant to be wiped or blotted with a sponge after application.  I found just spraying the product on a hot piece of metal (I'm not sure how how but
        it was above 212 degrees as the spray bottles would hit the metal and instantly any water in the paint product would evaporate ) produces
        a pretty good patina ( paint! ) effect that I liked.  I just chose to let the metal cool down after I was happy with the appearance and then
        use a sealer product.</p>
        <div id="disqus_thread"></div>
        <script>

/**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
        /*
           var disqus_config = function () {
               this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                   this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                   };
                   */
        (function() { // DON'T EDIT BELOW THIS LINE
             var d = document, s = d.createElement('script');
                 s.src = '//jarvislife.disqus.com/embed.js';
                     s.setAttribute('data-timestamp', +new Date());
                         (d.head || d.body).appendChild(s);
                         })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endblock %}

</html>
