{% extends "home.html" %}

{% block blogContent %}

<title>Do's and Dont's of changing spark plugs  </title>

<meta name="description" content="How to change spark plugs, change spark plugs for Ford vehicles, drop a fastener down intake, seafoam, CNC throttle
body cleaner"/>

<h1>Don't drop a fastener down one of the intake ports</h1>

<img src="/static/img/spark-plugs/masking-tape-intake.png" alt="masking tape over lower intake, changing spark plugs"/>

<p class="first"> A couple weeks ago when working on one of the family cars, an '07 Ford Escape, I had a scare.  I had removed the upper intake manifold
and needed to remove one last screw to get the thing out of the way so I could actually work on the spark plugs.  I think it was a bracket that
kept the accelerator or cruise control cable that had one last little fastener it it.  I reminded myself, "I'm almost done undoing the upper intake
I better be careful on this last screw and not get hasty, and "plunk!", I saw in slow motion the fastener drop down into the engine.  I maybe saw
it out of the corner of my eye fall down into the engine block.  But it wasn't until my mind starting thinking about it and saying, 'Oh my Gawd!' did
I just drop that down the intake !!!!.  </p>

<h2> Be careful with each faster when removing the upper intake, then put tape over the lower intake </h2>

<p>This way, any accidental drop won't have the potential to end up in a cylinder! and also if you are working on your driveway, like me, leaves,
dust, etc. won't enter into the engine either</p>

<img src="/static/img/spark-plugs/engine-cleaners.png" alt="SeaFoam, CNC Throttle Body Air Intake Cleaner"/>

<h1>DO clean the throttle body and intake with a commercial cleaner </h1>

<p> I usually clean the throttle body and plates and also any of the intake ( upper or lower ) that look like it may do some good.  I've
never scientifically tested theses solvents but it seems like they can help to remove some of the carbon deposits that occur in some older cars.
On the Escape I removed the masking tape when I knew everything was clear of the lower intake ports and sprayed CNC throttle body / intake cleaner
into the ports and scrubbed with an old tooth brush just wherever I could easily reach, and also without putting the toothbrush in any kind of perilous
position that it could fall in.  A toothbrush was a good size as even if dropped it doesn't look like it could fall into the intake with out just
being able to grab it by the handle and pull it back out.  Also the plastic won't really scratch any of the metal parts of the engine.  
</p>
<br>
<p>I'd also recommend
seafoam for the cyclinders. Again, I haven't really done any tests with these products.  I'm aware that the white smoke exhaust could just be
a placebo effect from the people who work at the seafoam R&D chemicls division. I really don't know.  But whenever I work on cars or motorcycles
and change out spark plugs, I usually just add 1/2 oz. - 1 oz. to the cyclinders through the spark plug hole.  I think just any option
to de-carbon or degrease old engines is probably worth it.  If I had vehicles that were under 60,000 miles I probably wouldn't worry about it.  I
have read that you shouldn't let seafoam sit in an engine block for long periods of time - (weeks, months) as it can deteriorate the gasket materials
in engines like piston rings etc.</p>

<img src="/static/img/spark-plugs/gap-and-deep-socket.png" alt="spark plug gap tool, deep socket"/>
 
<h2>Do get Specialty Tools </h2>

<p>I just went ahead and bought a set of deep sockets for spark plugs.  They were cheap on Amazon and you'll get a few different sizes of 
deep sockets.  I've used them for the lawn mower, motorcyle, family cars, and anything else that has a spark plug in it.  I may have even used
these at least once on a hard to reach or odd bolt, but don't quote me on that.</p>

<p>The deep sockets for spark plugs have a little rubber insert deep inside the socket that is able to kind of grab the spark plug after its unscrewed
from the engine block.</p>

<p> Also pictured above, the small metallic ring ( I have mine attached to my keyring) is a spark plug gap tool.  They are usually about a dollar at the
local automotive store.  You can ask at the front counter.  This is for getting the gap on the electrode of the spark plug to a proper tolerance based
on the specifications of your car manufacturer.  Now I'm certainly just a hobbyist, but is it possible an engine would stop running with a spark plug
that is gapped a few thousandths of an inch off ?  This is one of those things where I follow the procedure and check all the plugs before installing them,
but unless the gap is really far off from tolerance, I usually don't mess with them to much.  You'll find if you start to tap them on the concrete or with a hammer
and then try to pull them back up, it just starts a process of undoing the last adjustment, and I'm always afraid of weakening the electrode, which
is probably just nickel plated steel or something.  Its possible since, I buy these plugs, usually at a place like Advance Auto parts or one of the other
box auto retailers that I'm getting pre-gapped plugs, so I've just never run into the issue of the gapping of the plug being grossly off target.</p>

<h1> Don't drop a fasterner into the lower intake </h1>

<p> If you do drop a fastener, one trick I used this last time working on the car, was to tape a magnet to the end of a chopstick. (tape the magnet on tight, so as not
to lose that).  Probably all fasteners in engines are made of steel, so if one is dropped in a hard to reach place or its just hard to reach after being
unscrewed with a socket, a magnet is a good way to grab ahold of it.  
</p>
<p>Unrelatedly, I've found chopsticks to be handy tools for working on vehicles.  It worked nicely to grease the spindle of wheels and the bearings etc.
without making a huge mess on my hands, previously when I was switching out the hardware on the front end of my vehicle.(see picture below). I thought
it ironic because I once worked with a guy who had a bumpersticker on his American made car, "built with tools, not chopsticks".  I don't know, I must 
eat a lot of asian food and always have chopsticks around ?</p>

<img src="/static/img/spark-plugs/chopsticks-brakes.png" alt="chopsticks as tools"/>

    <!-- start disqus import -->
<div id="disqus_thread"></div>
<script>
    /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
   /* 
           var disqus_config = function () {
                   this.page.url = '/2016/09/28/Make/a/custom/fumehood/';  // Replace PAGE_URL with your page's canonical URL variable
                           this.page.identifier = '176395'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                               };
     */                              
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
             var d = document, s = d.createElement('script');
                     
                     s.src = '//jarvislife.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
                             
                             s.setAttribute('data-timestamp', +new Date());
                                     (d.head || d.body).appendChild(s);
                                         })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!-- end disqus -->

{% endblock %}
