{% extends "home.html" %}

{% block blogContent %}

<title>Stinson Beach, CA and Google Photos</title>

<meta name="description" content="A day at Stinson Beach, transfer photos from dropbox to google photos"/>

<h1>A day at Stinson Beach </h1>

<img src="/static/img/stinson/stinson003.png" alt="Stinson Beach, California"/>

<h2> </h2>

<p class="first">I'm switching all of our family photos to Google Photos from Dropbox to save $10 a month,
the price I'm currently paying dropbox to house all of our pictures.  I saw these photos from a trip
we took to Stinson Beach one day.  It's about a 2-3 hours drive, depending on where you live in the
bay area.  The beach town is pretty nice.  It's pretty low key, people playing on the beach, a few shops and
restaurants and a small town behind it. I would recommend taking the drive sometime if you live in the Bay Area</p>

</p>

<img src="/static/img/stinson/stinson004.png" alt="Stinson Beach"/>

<p> We walked around the beach when we got there, walked up into town, found a little art gallery, ate lunch near
the beach, and we later ended up in a place called Breakers, where we sat at the bar and I had
a drink.  The bartender saw my wife was like 8 months preganant and was really awesome and just gave us
this little onesie for our new arrival.  A bluegrass/flatpickers band was playing on the deck outside
and I really didn't expect that kind of music to be played in that part of California, but it kinda
fit just in that when you wander around in California you're likely to see lots of eclectic things</p>
<img src="/static/img/stinson/stinson005.png" alt="Bluegrass Band"/>
<img src="/static/img/stinson/stinson002.png" alt="Breakers Cafe" />

<figure>
  <img src="/static/img/stinson/stinson001.png" alt="hydrangea" />
  <figcaption> I believe these are called hydrangeas (Not sure if they grow in TX? I haven't seen them),
               they were pretty spectacular when we were there at Stinson Beach in July of 2014</figcaption>
</figure>

<h2> </h2>

<p>So if you are thinking about the same as me, transferring all your dropbox photos to google photos,
unless you are really tedious with hundreds of gigabytes of data, your stuff could just get all lumped in
together.  What I mean is that, when uploading to google photos you have to specifically upload to an album
that you have created to have parity with your dropbox account.  I chose to forgoe this step and literally
everything previously that was in my google photos just got a dropbox dump over the last few days.  I tried
the uploader 'app' but it seemed to work,.. just ... well .. okay.  I found the better way was to use the browser
version of google photos and upload images there.  One annoyance was that you cannot just select a directory
like 'dropbox2016' and have all the sub directories and sub directories of sub directories all transfer to 
google photos.  I really don't understand why this is.  So I had to take each and every directory and 'Ctrl+A' all the
photos in that directory upload, then move on to the next one, etc.  Its' really not to bad, as the photos
all kind of queue up to get uploaded. So I would click through five directories on my computer and build
this upload queue up to 1000 photos or something, and then just let the computer upload and leave and do
something else. Then when i walked by the computer again later and saw it had 899 of 1199 photos uploaded, or whatever
, I would add more to the queue and click through more photos.</p>

<img src="/static/img/stinson/stinson000.png" alt="Stinson Beach"/>
<p>I think generally google photos is a little harder to use than dropbox and is a little less intuitive/convenient
like I was stating earlier about the photo upload process. The free photos up to 100 terabytes or whatever the limit is
is awesome, but also keep in mind its photos/videos and not files.  It makes sense for us though as we are, like
most people accumulating 1000's of photos a month on smart phones etc.  The nice thing about google photos is
being able to just search though a mess of photos.  When I wrote this article, for example, I just go to 
google photos and type in Stinson Beach.  So even if you type in something like 'machinery' or 'engine' and
Google has a hard time, you can usually get close with some term like 'car' or 'vehicle' and then look at the date
of one of the photos from that car project I worked on 2 years ago and I'm interested in finding the picture for it</p>


    <!-- start disqus import -->
<div id="disqus_thread"></div>
<script>
    /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
   /* 
           var disqus_config = function () {
                   this.page.url = '/2016/09/28/Make/a/custom/fumehood/';  // Replace PAGE_URL with your page's canonical URL variable
                           this.page.identifier = '176395'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                               };
     */                              
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
             var d = document, s = d.createElement('script');
                     
                     s.src = '//jarvislife.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
                             
                             s.setAttribute('data-timestamp', +new Date());
                                     (d.head || d.body).appendChild(s);
                                         })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!-- end disqus -->

{% endblock %}
