{% extends "home.html" %}

{% block blogContent %}

<title>Progress of the gate on the East side of my house  </title>

<meta name="Build a steel gate" content="replacing a wood gate with a steel gate"/>

<h1>The idea...</h1>

<img src="/static/img/eastGate/butterfly.png" alt="metal artwork butterfly"/>

<h2> </h2>

<p class="first">The idea at the outset of building this gate was a very simple one. Use stainless steel
tubing and perforated stainless steel sheet to create a board to then mount on metal artwork.

I like the idea of having art mimic nature.  I really have enjoyed seeing all the different flora and fauna
here in TX.  We have a lot of butterflies and lizards and geckos and also dragonflies.  

I found the above Monarch butterfly wing in the parking lot in front of Party City
</p>


<img src="/static/img/eastGate/red-yucca-steel.png" alt="metal artwork plants"/>
<img src="/static/img/eastGate/red-yucca.png" alt="metal artwork plants"/>
<p>These are mild steel with Acrylic paint.  Really need to save up for a plasma cutter. </p>




<h2>Material Selection</h2>


<img src="/static/img/eastGate/raw-stainless-1.png" alt="Stainless Steel sheet"/>
<img src="/static/img/eastGate/raw-stainless-2.png" alt="Stainless Steel sheet"/>
<img src="/static/img/eastGate/stainless-tubing.png" alt="Stainless Steel tubing"/>

<p>I found a great company online called McNichols which focuses solely on perforated metals distribution.
Unfortunately for me there's no McNichols ( or McMaster-Carr ) will call nearby in my town.  The closest area
for McNichols will call is Houston, So my local metal distributer here in town, who told me about McNichols
offered to ship some for me, but I thought it would get pretty expensive.</p>

<p> To make a long story short, I ended up raiding the Clearance racks and found some Stainless Steel sheets
at about 16 Gauge thickness, which was what I was looking for, rather than spend the big bucks and go with perforated
Steel</p>

<p>OUCH. That was big time mistake ! </p>

<p> After buying all the Stainless Tubing for the frames, the two Steel Posts for each gate, and other knick-knacks
like hinges and post caps, I unfortunately found out that the Stainless sheet I had bought was not 304 stainless.
I have no idea what kind of alloy I ended up with but It would not weld to other mild steel or Stainless steel.

On my Weld Setup I have 309L consumable mig wire in my machine for welding stainless together or mild to stainless
and am simply using c25 gas.  I had no problem welding the stainless frame together ( Although i'm guessing this would
have gone even smoother with some tri-mix ) I have no problem welding my mild steel art pieces to the Stainless tubing frame.
But when I tried to weld these unknown alloy Stainless sheets to the frame or any of the artwork, I could literally
just blast away at it with all my little 110v Miller mig welder could deliver and to no avail.  It almost seems
like there is some chemical reaction taking place because the pieces almost want to separate more than anything.

Soooo, I really have no clue what kind of alloy I picked up, or what made the weld unhappy ... ( the consumable wire? 
is there such types of Stainless that won't readily weld to say other 304 stainless or mild steel ? ) and really
have not taken the time to understand it but I just altered the whole project and used fasteners for this unknown sheeting material.
</p>

<img src="/static/img/eastGate/gate-sideways.png" alt="unknown stainless steel alloy"/>

<p> So its hard to say what to do next time...  Once I found out I could not weld this stuff together - I probably
should have gone and picked up $100 or $200 worth of 304 stainless sheeting to weld the project together.  But
then again, at that point, it would have been just as much as buying the perforated product and having it shipped to me
in the first place. So I don't know.  Even after all the money in raw materials and tools in my garage and lots of consumables
needed to get the job done, I'm still wishing I had other equipment etc. namely a plasma cutter and a TIG welder that runs
off 220 volt.  I suppose I could rearrange my garage/shop and craigslist the mig welder and make that a reality.- I'll
probably need an electrician over at my house to run me a 220 plug in the garage. Probably wait until i get a job again
for that to happen. Plasma cutter plus a nice miller TIG machine and electrician, plus rods and I'll need a weld cart
at some point and more cannisters for gases. ugh.
</p>

<p> After building the first gate I did a better job keeping this one light weight.

<h1> Moving beyond the Garage .... </h1>

<img src="/static/img/eastGate/post.png" alt="metal gate post"/>

<p> The dig went much smoother too, having known how this part of Texas works when digging... Our area in Cedar Park,
I hardly am down a foot in the soil and it turns into bedrock or kind of like gravelly stone.  Whatever it is, (A geologist 
probably is necessary here) its hard. I use a cold chisel and small sledgehammer and chip away to break that bedrock up.
Or when the hole started getting deeper, I used that sledgehammer and some leftover steel tubing so I don't have to bend down
so much or put my hands in comprimising situations as I try to break apart the rock.</p>

<p>


<img src="/static/img/eastGate/gate-half-far.png" alt="artistic metal gate"/>
<img src="/static/img/eastGate/gate-half-close.png" alt="artistic metal gate"/>

<p> Well the project has encountered many snags along the way... but I think given my limited experience with metal working,
and probably more importantly, considering the budget constraints, I think the gate looks pretty good.

Interestingly I went to hang the gate yesterday and thought I wouldn't be able to hang it because the frame is bowed so badly.
I barely got it hung up and working.  Who would think about this stuff, just buying stock material and welding it on a (mostly) flat
garage floor ? oye. I guess its all part of a process.  I imagine someday, I'd have a really great shop to work in and all the expensive tools
and machines to actually get the job done right and correctly.  I've always found that scrimping on tools or equipment or materials, leads to making compromises
in the quality of work.  I guess since I'm so new to the metal working that it doesn't quite make since yet, but I found out through this project,
why a plasma cutter is so necessary to save time like 100 fold, or just ordering the perforated steel in the first place, probably really could have
saved me two weeks extra of work. My MIG only welds up to 1/8.  Well I really realized what that means on this one.  I took it outside to weld the hinges on the post
. Ha! the flux .024 wire and my dinky 110 V welder, barely get that 1/4 thick post liquid at all. I somehow got them to stick but, that thickness of steel, and welding
outside with the flux off an extension cord really doesn't want to get even that top layer of steel melted at all.  The flux core wire kind of just piles on top of itself
creating a weld like a blob of plastic extruded from a 3d printer.  It doesn't want to penetrate that thick steel post.</p>


    <!-- start disqus import -->
<div id="disqus_thread"></div>
<script>
    /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
   /* 
           var disqus_config = function () {
                   this.page.url = '/2016/09/28/Make/a/custom/fumehood/';  // Replace PAGE_URL with your page's canonical URL variable
                           this.page.identifier = '176395'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                               };
     */                              
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
             var d = document, s = d.createElement('script');
                     
                     s.src = '//jarvislife.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
                             
                             s.setAttribute('data-timestamp', +new Date());
                                     (d.head || d.body).appendChild(s);
                                         })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!-- end disqus -->

{% endblock %}
