{% extends "home.html" %}

{% block blogContent %}

<title>About Mike Jarvis Blog </title>

<div class="main_container">
    <div class="lefty-social"><a href="https://www.linkedin.com/in/jarvisengineer"><i class="fa fa-linkedin-square fa-3x"></i></a></div>
  <div class="righty-social"><a href="https://www.facebook.com/mike.jarvis.560"><i class="fa fa-facebook-official fa-3x"></i></a></div>
</div>

<p> I write this blog to keep my web design skills up, and also with the hope that someone out there on the web can take advantage of my experience and may learn something.</p>

<p> I've had a lot of interesting work experiences lately, and I'm hoping to keep that going</p>

<p> To recruiters - the project is more important than the position.  I'd be just as interested in being a mechanical-engineer-in-training who
works with CAD daily, as I would a software engineer</p>

<p> Interests: Gardening, Investing, Cooking, Building </p>

<p> Work Settings: Natural, Industrial, Lab, Office </p>

<p> Current tech interest: IoT (Internet of Things), Green Economy, Wireless charging </p>

<br>
<img src="/static/img/site-wide/shrapnel.png" style="display:block;margin:auto;"/>

{% endblock %}

{% block right-panel %}
 <div id="about-contact-container">
  <br><b> Contact:</b></br>
  <br><span class="contact"> <i class="fa fa-envelope-o fa-lg"></i>  mkejrvs@gmail.com</span>
  <br><br><br><span class="contact"> <i class="fa fa-mobile fa-2x"></i> 816.645.0922</i></span>
 </div>
{% endblock %}
