{% extends "home.html" %}

{% block blogContent %}

<link rel="stylesheet" type="text/css" href="/static/css/store.css"/>

<title>Custom home, remodeling, welding, landscape, steel fabrication, planters.</title>
<meta name="description" content="custom butcher block, hardwood island table top, work bench, steel planter, Austin, Texas, decorative patio gate,
custom gate, range hood, ducted range hood, custom range insert, artistic custom gate, custom planter, green facade, green wall, composter, steel composter">

<div id="store-row1">
    <div class="figbox">
    <figure>
     <img class="storepic" src="/static/img/site-wide/planter.png" alt="steel planter"/>
     <figcaption>Steel planter - Raw material cost varies with size - minimum $150, (for smallish - 2 ft x 1 ft x 1 ft planter)</figcaption>
    </figure>
    </div>

    <div class="figbox">
    <figure>
     <img class="storepic" src="/static/img/workbench/workBenchWine.png" alt="metal frame workbench"/>
     <figcaption>Metal frame, butcher block hardwood table top work bench $450 (table top 60" length x ~30" width) </figcaption>
     <figcaption>Also butcher block tops for desk built-ins, islands, kitchen counter tops etc..</figcaption>
    </figure>
    </div>

    <div class="figbox">
    <figure>
      <img  class="storepic"src="/static/img/site-wide/new-mig-welder.png" alt="mig welder"/>
      <figcaption>Mig welding - minimum $50. First hour free, $25 per hour after. Welds up to 1/8 in thickness. (Workpieces must be transportable to Cedar Park, Tx.)</figcaption>
    </figure>
    </div>
</div>


<div id="store-row2">
<div class="figbox">
<figure>
 <img class="storepic" src="/static/img/fumehood/range-hood-finished.png" alt="custom metal range hood"/> 
 <figcaption>Custom metal decorative range hood - $2000.<br> Range Hood and range insert $3000 <br> Range Hood + range insert + run ductwork $5000.</figcaption>
</figure>
</div>

<div class="figbox">
<figure>
 <img class="storepic" src="/static/img/gate/finishedGate.png" alt="steel framed wood paneled gate"/>
 <figcaption>Steel framed, wood paneled gate - $1750, installed $3000 (includes new metal posts in a new concrete foundation)</figcaption>
</figure>
</div>
</div>

{% endblock %}
